<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- SqlSessionTemplate 관련 설정 -->
	<!-- 에러 처리를 위한 설정 -->
    <settings>
    
   		<setting name="jdbcTypeForNull" value="NULL"/> 
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 컬럼 이름과 매핑되는 프로퍼티를 카멜 표기법으로 변환 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/> <!-- 쿼리 로깅을 콘솔에 출력 -->
    
    </settings>
    
    <!-- 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="edu.kh.comm.member.model.vo.Member" alias="member"/>
		
		<typeAlias type="edu.kh.comm.board.model.vo.Board"  		alias="board"/>
		<typeAlias type="edu.kh.comm.board.model.vo.BoardDetail"  	alias="detail"/>
		<typeAlias type="edu.kh.comm.board.model.vo.BoardImage"  	alias="boardImage"/>
		<typeAlias type="edu.kh.comm.board.model.vo.BoardType"  	alias="boardType"/>
		
	</typeAliases>
    
    <!-- 매퍼 경로 설정 -->
    <mappers>
    
        <mapper resource="com/thoreausawyer/mapper/BoardMapper.xml"/>
        
    </mappers>
    
    <!--  트랜잭션 -->
    
    <!-- 트랜잭션 관리를 위한 설정 -->
    <!-- <transactionManager type="JDBC">
        <property name="autoCommit" value="false"/> 자동 커밋 비활성화
    </transactionManager> -->
    
    <!-- 트랜잭션 관리를 위한 DataSource 설정 -->
    <!-- <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="thoreausawyer"/>
        <property name="password" value="daegumian"/>
    </dataSource> -->
    
</configuration>
